body{
    width: 1600px;
    font-family: 'Roboto', 'Raleway', sans-serif;
}

/* верхня часть сайта*/
.header {
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    
}
.header-web-studio {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;

}
.header-studio {
    color: black;

}

/* навигация сайта*/
.header-navigation {
    position: absolute;
    left: 453px;
    top: 15px;
    width: 294px;
    height: 16px;
}
.header-navigation-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
 
}

.header-navigation-list-studio{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}

.header-navigation-list-portfolio {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    margin-left: 50px;
    text-decoration: none;
}

.header-navigation-list-studio:hover,
.header-navigation-list-studio:focus,
.header-navigation-list-portfolio:hover,
.header-navigation-list-portfolio:focus,
.header-navigation-list-contacts:hover,
.header-navigation-list-contacts:focus {
    color: #2196F3;
}

.header-navigation-list-contacts {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    margin-left: 50px;
}

/*права часть шапки*/
.header-contacts {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.header-mail {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}
.header-mail:hover,
.header-mail:focus{
color: #2196F3;
}

.header-phone {
    position: absolute;
    width: 140px;
    height: 16px;
    left: 1263px;
    top: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.header-phone:hover,
.header-phone:focus{
    color: #2196F3;
}

/* the main part of the site*/
/* hat */
.hat {
    background-color: #2F303A;
    width: 1600px;
    height: 600px;
    
}

.hat-header{
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 200px;
    color: #fff;
}

.hat-button {
    position: relative;
    left: 700px;
    top: 230px;
    text-align: center;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

/*Список решений*/
.decision-list {
    position: relative;
    display: flex;
    left: 215px;
}

.decision-list-item{
    list-style-type: none;
    width: 270px;
    height: 101px;
    margin-left: 30px;
}

.decision-list-header {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.decision-list-desc {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

/*изображения чем занимаемся*/
.pictures-what-we-do {
    position: relative;
    width: 1170px;
    height: 386px;
    left: 215px;
    margin-top: 94px;
}

.pictures-what-we-do-list {
    display: flex;
    list-style-type: none;
}

.pictures-what-we-do-list-item2 {
    margin-left: 30px;
}

.pictures-what-we-do-header {
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

/*our team*/
.our-team {
    width: 1600px;
    height: 648px;
    background: #F5F4FA;
    margin-top: 94px;
    padding-top: 94px;
}

.our-team-header {
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.our-team-list {
    position: relative;
    display: flex;
    width: 1170px;
    height: 368px;
    list-style-type: none;
    left: 185px;
}

.our-team-list-item,
.our-team-list-item2{
    width: 270px;
    height: 368px;
}
.our-team-list-item2 {
    margin-left: 30px;
}


.our-team-name-member {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.our-team-member-profession {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;

color: #757575;
}

/*Footer*/

.contact-info {
    width: 1600px;
    height: 252px;
    background-color: #2F303A;
}

.footer-web-studio {
    position: relative;
    left: 215px;
    top: 60px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.footer-web {
    color: #2196F3;
}

.footer-studio {
    color:#fff;
}

.footer-address {
    position: relative;
    left: 215px;
    top: 81px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footer-address-location {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-address-email {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    
}

.footer-address-phone {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/